// Development grid

.dev-grid {
  position: fixed;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dev-row {
  display: flex;
  justify-content: space-between;
  height: inherit;
  margin: 0 auto;
  outline: 1px solid rgba(0, 0, 0, .05);
}

.dev-col {
  background: rgba(0, 0, 0, .05);
}

// Breakpoints

.dev-grid:before {
  position: absolute;
  padding: .3em .5em;
  color: white;
  background: rgba(0, 0, 0, .3);
  border-bottom-right-radius: .5em;

  // Customize your breakpoints here
  @media (min-width: 0) and (max-width: 30em) { content: '0-30em'; }
  @media (min-width: 30em) and (max-width: 35em) { content: '30-35em'; }
  @media (min-width: 35em) and (max-width: 40em) { content: '35-40em'; }
  @media (min-width: 40em) and (max-width: 50em) { content: '40-50em'; }
  @media (min-width: 50em) and (max-width: 60em) { content: '50-60em'; }
  @media (min-width: 60em) and (max-width: 67.5em) { content: '60-67.5em'; }
  @media (min-width: 67.5em) { content: '67.5em+'; }
}


// Customize your column widths here

.dev-row {
  max-width: 90rem;
  padding: 0 1rem;
}

.dev-col {
  width: 7%;
}

@media (max-width: 50em) {
  .dev-col {
    width: 15%;
  }
  .dev-col:nth-of-type(7),
  .dev-col:nth-of-type(8),
  .dev-col:nth-of-type(9),
  .dev-col:nth-of-type(10),
  .dev-col:nth-of-type(11),
  .dev-col:nth-of-type(12) {
    display: none;
  }
}

@media (max-width: 30em) {
  .dev-col {
    width: 30%;
  }
  .dev-col:nth-of-type(4),
  .dev-col:nth-of-type(5),
  .dev-col:nth-of-type(6) {
    display: none;
  }
}
